<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="MySuite">
    <listeners>
        <listener class-name="utils.ListenersImplementation" />
    </listeners>

    <test name="MyTests">
        <packages>
            <package name="test.java" /> <!-- Adjust to your actual test package -->
        </packages>
    </test>
</suite>
